
.progress_bar_holder {
                vertical-align: middle;
                width: 80%;
                border-radius: 0.6em;
                display: inline-block;
                text-align: left;
            }
.progress_bar_holder_focus {
                box-shadow: 0 0 0 0.1em #ffffff;
            }
.progress_bar {
                width: 100%;
                box-sizing: border-box;
                border: 0.1em solid #000000;
                border-radius: 0.1em;
                background-color: #ebebeb;
            }
.inner_progress_animate_holder {
                overflow: hidden;
                transform: translate(-0.1%, -37%);
                border-radius: 30%;
                width: 100.2%;
            }
.inner_progress_animate {
                height: 0.29em !important;
                transform: translate(0%, 0%);
                display: inline-block;
                border: 0.1em solid rgb(0, 0, 0);
                border-radius: 0.15em;
            }
.inner_progress_circle {
                transform: translate(25%, -29%);
                right: 0;
                position: absolute;
                display: inline-block;
                width: 0.5em;
                height: 0.5em;
                background: #ffffff;
                border-radius: 1em;
                border: 0.1em solid #000000;
            }
.inner_progress_bar_muted,
            .inner_progress_bar {
                width: 100%;
                height: 0.3em;
                line-height: 1.5em;
                will-change: transform;
                /* Keep this same as PlayVod_RefreshProgressBarrTimeout */
                transition: transform 1s linear;
            }
.inner_progress_bar_muted {
                width: 80%;
                left: 10%;
                display: inline-block;
                transform: translateY(-478%);
                height: 0.32em;
                position: absolute;
            }
.inner_progress_bar_muted_segment {
                height: 0.37em;
                background-color: rgba(0, 0, 0, 0.65);
                position: absolute;
            }
.dialog_end_icons_start,
            .dialog_end_icons,
            .next_button,
            .pause_button,
            .about_dialogs,
            .progress_bar_div,
            .controls_button {
                border: 0.07em solid rgba(0, 0, 0, 0);
            }
.stream_thumbnail_channel_vod,
            .stream_thumbnail_player_feed,
            .inner_banner_holder,
            .stream_thumbnail_game_feed,
            .stream_thumbnail_game,
            .stream_thumbnail_side,
            .stream_thumbnail_live,
            .stream_thumbnail_player_feed,
            .stream_thumbnail_user,
            .stream_thumbnail_channel,
            .stream_thumbnail_game_feed,
            .stream_thumbnail_game {
                border: 0.09em solid rgba(0, 0, 0, 0);
            }
.nick {
                font-family: 'Roboto-Bold';
            }
.chat_line {
                padding: 0.35em;
                color: #ffffff;
                text-shadow:
                    -0.03em 0 0 #000,
                    0.03em 0 0 #000,
                    0 0.03em 0 #000,
                    0 -0.03em 0 #000,
                    0.03em -0.03em 0 #000,
                    -0.03em -0.03em 0 #000,
                    -0.03em 0.03em 0 #000,
                    0.03em 0.03em 0 #000;
            }
.chat_line_holder {
                overflow: hidden;
            }
.chat_line_animation {
                will-change: height, max-height;
                animation: height_animation 450ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
            }
@keyframes height_animation {
                from {
                    max-height: 0;
                }

                to {
                    max-height: 100vh;
                }
            }
.chat_line,
            .message {
                word-wrap: break-word;
                line-height: 1.25em;
            }
.chat_line_ind {
                border-bottom: 0.025em solid rgba(255, 255, 255, 0.75);
            }
.chat_line_slim {
                padding-bottom: 0 !important;
                padding-top: 0.12em !important;
                margin-bottom: 0 !important;
                line-height: 1em !important;
            }
.chat_loggedin {
                color: #ffffff;
                text-shadow:
                    -0.03em 0 0 #000,
                    0.03em 0 0 #000,
                    0 0.03em 0 #000,
                    0 -0.03em 0 #000,
                    0.03em -0.03em 0 #000,
                    -0.03em -0.03em 0 #000,
                    -0.03em 0.03em 0 #000,
                    0.03em 0.03em 0 #000;
                /* font-size in relation to vh to avoid size change when chat font size is changed by the user*/
                font-size: 2.5vh;
                height: 2.8vh;
                width: 100%;
                text-align: center;
                overflow: hidden;
            }
.chat_box_holder {
                height: 100%;
                transform: rotate(180deg);
                overflow: hidden;
            }
.tag {
                display: inline-block;
                background-position: 0 center;
                background-repeat: no-repeat;
                background-size: contain;
                vertical-align: bottom;
                height: 1.4em;
                min-width: 1.4em;
                margin-right: 0.2em;
                overflow: hidden;
            }
.emoticon {
                min-width: 1.75em;
                height: 1.75em;
                margin-bottom: -0.35em;
            }
.zero-width-container {
                display: inline-grid;
                vertical-align: -0.35em;
            }
.zero-width-emote {
                grid-column: 1;
                grid-row: 1;
                margin: auto;
            }
.emoji {
                min-width: 1em;
                height: 1em;
                margin-right: 0.1em;
                margin-left: 0.1em;
                margin-bottom: -0.2em;
            }
